@charset "urf-8";

/* 아이콘폰트 */
@import url("https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css");

/* 한글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'suit';
    src: url(/fonts/SUIT-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'suit';
    src: url(/fonts/SUIT-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'suit';
    src: url(/fonts/SUIT-Bold.woff2);
    font-weight: 700;
}

/* 영문폰트 */
@font-face {
    font-family: 'montserrat';
    src: url(/fonts/Montserrat-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'montserrat';
    src: url(/fonts/Montserrat-bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: 'montserrat';
    src: url(/fonts/Montserrat-ExtraBold.woff2);
    font-weight: 800;
}
